<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ if .Page.Title }}
        {{ .Page.Title }}
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    {{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="img/png" href="img/favicon.png">
    {{ partial "yandexmetrika.html" . }}
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="content">
          <!-- Code that all your templates share, like a header -->
          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}
        </div>
      </div>
    </section>
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
  </body>
</html>
