.homepage .container {
  max-width: 960px;
}

.avatar .image {
  max-width: 120px;
  margin: 0 auto;
}

.footer {
  background-color: #ffffff;
}

@media screen and (min-width: 769px), print {
  .avatar .image {
    max-width: 200px;
  }
}

.footer .links ul {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer .links li+li::before {
  color: #b5b5b5;
  content: "\0002f";
}

.footer .links li {
  align-items: center;
  display: flex;
}

.footer .links a {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 .75em;
}

@media screen and (max-width: 768px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }

  .footer .links ul {
    display: block;
  }

  // .footer .links li {
  //   display: block;
  // }

  .footer .links li + li::before {
    content: "";
  }

  .footer .links li a {
    display: block;
    margin: 0.5em 0.75em;
  }

  .footer .links li:first-child a {
    margin: 0.5em 0.75em;
  }
}

ul.list {
  li {
    padding-bottom: 18px;
  }
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  border-color: #b2ccf0;

  &:hover,
  &:visited:hover {
    color: #b22222;
    border-color: #f0b2b2;
  }

  &:visited {
    color: #b40eb4;
    border-color: #e0b2e0;
  }
}

.gist {
  h1 {
    display: none;
  }
  .gist-file {
    border: none !important;
  }
}
