<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <meta name="description" content="Anton Lebedev is a software engineer. He is skilled in various web technologies and passionate about to build web-services and automation everything around.">
    <meta name="author" content="Anton Lebedev">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="img/png" href="/img/favicon.png">
    {{ partial "yandexmetrika.html" . }}
  </head>
  <body class="homepage">
    <section class="section">
      <div class="container">
        <div class="columns reverse-columns">
          <div class="column content is-medium is-three-quarters description">
            <p>Hi, I&rsquo;m Anton Lebedev. I&rsquo;m a&nbsp;software engineer. I&rsquo;m skilled in&nbsp;various web technologies and passionate about to&nbsp;build web-services and automation everything around. I&nbsp;write <a href="https://notes.lebster.me" title="Notes about the development, automation and data processing">technical notes</a> about web development and technology in&nbsp;general.</p>
            <p>If&nbsp;you want to&nbsp;get in&nbsp;touch with&nbsp;me, <a href="mailto:mailbox@lebster.me">send me&nbsp;an&nbsp;email</a> or&nbsp;<a href="tg://resolve/?domain=lebster">message me&nbsp;in&nbsp;the telegram</a>.</p>
          </div>
          <div class="column avatar">
            <figure class="image">
              <img src="/img/avatar.jpg" class="is-rounded"/>
            </figure>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <nav class="links">
          <ul>
            <li>
              <a href="https://github.com/thelebster" rel="nofollow">github</a>
            </li>
            <li>
              <a href="https://www.drupal.org/u/lebster" rel="nofollow">drupal.org</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/lebster/" rel="nofollow">linkedin</a>
            </li>
            <li>
              <a href="tg://resolve/?domain=lebster">telegram</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
