<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Anton Lebedev — Fullstack Developer</title>
    <meta name="description" content="Anton Lebedev, software engineer, fullstack developer, senior drupal developer, python developer, nodejs developer, automation.">
    <meta name="author" content="Anton Lebedev">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="icon" type="img/png" href="img/favicon.png">
    <!-- Yandex.Metrika counter --> <script type="text/javascript" async="" src="https://mc.yandex.ru/metrika/watch.js"></script><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter48956285 = new Ya.Metrika({ id:48956285, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript>&lt;div&gt;&lt;img src="https://mc.yandex.ru/watch/48956285" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript> <!-- /Yandex.Metrika counter -->
    <script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="lebster" data-description="Support me on Buy me a coffee!" data-message="Thank you for visiting. You can now buy me a coffee!" data-color="#FF5F5F" data-position="right" data-x_margin="18" data-y_margin="18"></script>
  </head>
  <body class="homepage">
    <section class="section">
      <div class="container">
        <div class="columns reverse-columns">
          <div class="column content is-medium is-three-quarters description">
            <p>Hi, I'm Anton Lebedev. I'm a software engineer. I'm skilled in various web technologies and passionate about to build web-services and automation everything around. I <a href="https://notes.lebster.me" title="Notes about the development, automation and data processing">write technical notes</a> about web development and technology in general. You could also read about some of <a href="https://notes.lebster.me/categories/use-case/" title="Real life use cases.">my recent use cases</a>.</p>
            <p>You can <a href="https://www.upwork.com/fl/lebster">hire me</a> for your projects.</p>
            <p>If you want to get in touch with me, <a href="mailto:mailbox@lebster.me">send me an email</a> or <a href="tg://resolve/?domain=lebster">message me in the telegram</a>.</p>
            <p>If you like what I'm doing and want to support me, you can just <a href="https://www.buymeacoffee.com/lebster">buy me a coffee</a>.</p>
          </div>
          <div class="column avatar">
            <figure class="image">
              <img src="https://pp.userapi.com/c627716/v627716097/15e89/R2kQnuoEH5Y.jpg" class="is-rounded"/>
            </figure>            
          </div>
        </div>
      </div>  
    </section>
    <section class="section projects">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h2 class="title is-5"><a href="http://tgram.app">Telegram Forwarding Service</a></h2>
            <p>On&nbsp;April 2018, <a href="https://telegram.org">Telegram</a> was blocked in&nbsp;Russia. This service allows you to&nbsp;share a&nbsp;working link to&nbsp;the Telegram account, channel or&nbsp;chat with an&nbsp;informative preview page.</p>
          </div>
          <div class="column">
            
          </div>       
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <nav class="breadcrumb">
          <ul>
            <li>
              <a href="https://github.com/thelebster">github</a>
            </li>
            <li>
              <a href="https://www.drupal.org/u/lebster">drupal.org</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/lebster/">linkedin</a>
            </li>
            <li>
              <a href="https://www.upwork.com/fl/lebster">upwork</a>
            </li>
            <li>
              <a href="https://vk.com/lebster">vkontakte</a>
            </li>
            <li>
              <a href="tg://resolve/?domain=lebster">telegram</a>
            </li>
          </ul >
        </nav>
      </div>      
    </footer>
  </body>
</html>
