<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>    
    <meta name="description" content="Anton Lebedev is a software engineer. He is skilled in various web technologies and passionate about to build web-services and automation everything around.">
    <meta name="author" content="Anton Lebedev">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="img/png" href="/img/favicon.png">
    {{ partial "yandexmetrika.html" . }}
    <script async data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="lebster" data-description="Support me on Buy me a coffee!" data-message="Thank you for visiting. You can now buy me a coffee!" data-color="#FF5F5F" data-position="right" data-x_margin="18" data-y_margin="18"></script>
  </head>
  <body class="homepage">
    <section class="section">
      <div class="container">
        <div class="columns reverse-columns">
          <div class="column content is-medium is-three-quarters description">
            <p>Hi, I&rsquo;m Anton Lebedev. I&rsquo;m a&nbsp;software engineer. I&rsquo;m skilled in&nbsp;various web technologies and passionate about to&nbsp;build web-services and automation everything around. I&nbsp;write <a href="https://notes.lebster.me" title="Notes about the development, automation and data processing">technical notes</a> about web development and technology in&nbsp;general. You could also read about some of&nbsp;<a href="https://notes.lebster.me/categories/use-case/" title="Real life use cases.">my&nbsp;recent use cases</a>.</p>
            <p>You can <a href="https://www.upwork.com/fl/lebster">hire me</a>&nbsp;for your projects.</p>
            <p>If&nbsp;you want to&nbsp;get in&nbsp;touch with&nbsp;me, <a href="mailto:mailbox@lebster.me">send me&nbsp;an&nbsp;email</a> or&nbsp;<a href="tg://resolve/?domain=lebster">message me&nbsp;in&nbsp;the telegram</a>.</p>
            <p>If&nbsp;you like what I&rsquo;m doing and want to&nbsp;support&nbsp;me, you can just <a href="https://www.buymeacoffee.com/lebster">buy me&nbsp;a&nbsp;coffee</a> or&nbsp;<a href="https://www.patreon.com/lebster">support me&nbsp;on&nbsp;Patreon</a>.</p>
          </div>
          <div class="column avatar">
            <figure class="image">
              <img src="img/avatar.jpg" class="is-rounded"/>
            </figure>            
          </div>
        </div>
      </div>  
    </section>
    <section class="section projects">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h2 class="title is-5">Yet Another <a href="http://tgram.app">Telegram Forwarding Service</a></h2>
            <p>On&nbsp;April 2018, <a href="https://telegram.org">Telegram</a> was blocked in&nbsp;Russia. This service allows you to&nbsp;share a&nbsp;working link to&nbsp;the Telegram account, channel or&nbsp;chat with an&nbsp;informative preview page.</p>
          </div>
          <div class="column">
            <h2 class="title is-5"><a href="https://isitblockedinrussia.nnm.guru">Is It Blocked In Russia?</a></h2>
            <p>Service allows to&nbsp;check if&nbsp;a&nbsp;site is&nbsp;currently blocked in&nbsp;Russia by&nbsp;<a href="https://rkn.gov.ru" rel="nofollow" title="Federal Service for Supervision of Communications, Information Technology and Mass Media">Roskomnadzor</a>.</p>
          </div>       
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <nav class="breadcrumb">
          <ul>
            <li>
              <a href="https://github.com/thelebster">github</a>
            </li>
            <li>
              <a href="https://www.drupal.org/u/lebster">drupal.org</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/lebster/">linkedin</a>
            </li>
            <li>
              <a href="https://www.upwork.com/fl/lebster">upwork</a>
            </li>
            <li>
              <a href="https://vk.com/lebster">vkontakte</a>
            </li>
            <li>
              <a href="tg://resolve/?domain=lebster">telegram</a>
            </li>
          </ul >
        </nav>
      </div>      
    </footer>
  </body>
</html>
